.welcome-title h2{
    font-size: 20px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.welcome-title-1 h4{
    margin-top: 20px;
    margin-left: 10px;
    color: #0a3206;
    text-align: justify;
}
