<div class="schedule-title">
    <mat-card appearance="outlined">
      <mat-card-content>
        <strong>Schedule</strong>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" height="15" width="20" style="padding-left: 5px;">
        <path d="M96 32l0 32L48 64C21.5 64 0 85.5 0 112l0 48 448 0 0-48c0-26.5-21.5-48-48-48l-48 0 0-32c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 32L160 64l0-32c0-17.7-14.3-32-32-32S96 14.3 96 32zM448 192L0 192 0 464c0 26.5 21.5 48 48 48l352 0c26.5 0 48-21.5 48-48l0-272z"/></svg>
      </mat-card-content>
    </mat-card>
  </div>
  
  <div class="table-responsive">
    <table class="table table-bordered table-striped form-full">
    <thead class="align-middle text-center bg-secondary text-white">
        <tr><th class="vcol-1">#</th>
            <th class="vcol-2">Class Code</th>
            <th class="vcol-3">Course Code</th>
            <th class="vcol-4">Course Description</th>
            <th class="vcol-5">Lec Units</th>
            <th class="vcol-6">Lab Units</th>
            <th class="vcol-7">RLE Units</th>
            <th class="vcol-8">Day</th>
            <th class="vcol-9">Time</th>
            <th class="vcol-10">Block</th>
            <th class="vcol-11">Room</th>
            <th class="vcol-12">Faculty</th>
            <th class="vcol-13">Faculty eMail</th>
        </tr>
        </thead>
        
        <tbody class="align-middle">
            <tr class="ng-star-inserted">
                <td class="text-center">1</td>
                <td class="text-center">123</td>
                <td class="text-center">CSGO</td>
                    <td>PE</td>
                    <td class="text-center">1.0</td>
                    <td class="text-center">0.0</td>
                    <td class="text-center">0.0</td>
                    <td class="text-center">W</td>
                    <td class="text-center">2:00 PM - 3:00 PM</td>
                    <td class="text-center">BSCS 4A</td>
                    <td class="text-center">-103</td>
                    <td>*Prof Name*</td>
                    <td>*email</td>
                 </tr>

                    <tr class="ng-star-inserted">
                    <td class="text-center">2</td>
                    <td class="text-center">123</td>
                    <td class="text-center">CSGO</td>
                    <td>Math</td>
                    <td class="text-center">0.0</td>
                    <td class="text-center">2.0</td>
                    <td class="text-center">0.0</td>
                    <td class="text-center">W</td>
                    <td class="text-center">8:00 AM - 2:00 PM</td>
                    <td class="text-center">BSCS 4A</td>
                    <td class="text-center">709</td>
                    <td>*Prof Name*</td>
                    <td>*email</td>
                </tr>

                    <tr class="ng-star-inserted">
                    <td class="text-center">3</td>
                    <td class="text-center">123</td>
                    <td class="text-center">CSGO</td>
                    <td>English</td>
                    <td class="text-center">0.0</td>
                    <td class="text-center">3.0</td>
                    <td class="text-center">0.0</td>
                    <td class="text-center">Sat</td>
                    <td class="text-center">8:00 AM - 6:00 PM</td>
                    <td class="text-center">BSCS 2A</td>
                    <td class="text-center">Online</td>
                    <td>*Prof Name*</td>
                    <td>*email</td>
                </tr>
            </tbody>
        </table>
    </div>
